# SPM Default List
.DS_Store
/.build
Packages/
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Examples Project
.swiftpm/xcode/xcuserdata/*
Examples/Examples.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Examples/Examples.xcodeproj/project.xcworkspace/xcuserdata/*
Examples/Examples.xcodeproj/xcuserdata/*

# Other
/*.xcodeproj
Package.pins
Package.resolved
